# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.FirstProject.iml
# Datasource local storage ignored files
/../../../../../../../:\Unreal Projects\FirstProjectClean\FirstProject\.idea\.idea.FirstProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
